<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Allow access to specific PHP files
<FilesMatch "^(login|registration)\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Allow access to other PHP files if user is logged in
<FilesMatch "^(?!login|registration)\w+\.php$">
    Order Deny,Allow
    Deny from all
    Allow from env=!user_id
</FilesMatch>
