*{
  box-sizing: border-box;
  font-family: system-ui;
}

.msg{
  height: 480px;
  margin: 1rem auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.msg p{
  background-color: rgb(194, 192, 192);
  padding: 0.4rem 1rem;
  width: fit-content;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.msg p span{
  display: block;
  font-weight: bold;
  opacity: 0.5;
}
.msg .sender{
  background-color: rgb(89, 255, 89);
  align-self: end;
}